<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.spring.project.branchMapper">

	<insert id="insert">
		insert into ${PJ_BRANCH} 
		(${brcId}, ${brcArea}, ${brcName}, ${brcTheaterNumbers}, ${brcTheaterSeats}, ${brcInfo})
		values (#{brcId}, #{brcArea}, #{brcName}, #{brcTheaterNumbers}, #{brcTheaterSeats}, #{brcInfo})
	</insert>

	<!-- select list  -->
	<select id="select_list_all" resultType="BranchVO">
		select * from
		${PJ_BRANCH}
		order by ${brcId}
	</select>
	
	<!-- selectOne data -->
	<select id="select_one_by_brc_id" resultType="BranchVO">
		select * from
		${PJ_BRANCH}
		where ${brcId} = #{brcId}
	</select>

	<!-- search by brcArea -->
	<select id="select_list_by_brc_area" resultType="BranchVO">		
		select * from
		${PJ_BRANCH}
		where ${brcArea} = #{brcArea}
		order by ${brcId}
	</select>
	
	<!-- search by brcName -->
	<select id="select_list_by_search_brc_name" resultType="BranchVO">		
		select * from
		${PJ_BRANCH}
		where ${brcName} like '%' || #{searchBrcName} || '%'
		order by ${brcName}
	</select>
	
	<update id="update">
		update ${PJ_BRANCH}
		set ${brcArea} = #{brcArea},
		${brcName} = #{brcName},
		${brcInfo} = #{brcInfo}
		where ${brcId} = #{brcId}
	</update>

	<delete id="delete"> 
		delete from ${PJ_BRANCH}
		where ${brcId} = #{brcId}
	</delete>
	
	<!-- 삭제시 멤버테이블의 선호지점 replace를 위한 쿼리 -->
	<select id="select_min_brc_id" resultType="int">
		select MIN(${brcId}) from ${PJ_BRANCH}
	</select>
	
</mapper>