<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.spring.project.movieMapper">

	<insert id="insert">
		insert into ${PJ_MOVIE} 
		(${mvTitle}, ${mvImage}, ${mvDateStarted}, ${mvDateEnded}, ${mvRuningTime}, ${mvGenre}, ${mvInfo} )
		values (#{mvTitle}, #{mvImage}, #{mvDateStarted}, #{mvDateEnded}, #{mvRuningTime}, #{mvGenre}, #{mvInfo})
	</insert>
	
	<!--  예매율 기준 정렬 -->
	<select id="select_list_by_mv_ts" resultType="MovieVO">		
		select * from
		${PJ_MOVIE}
		order by ${mvTicketSales}
	</select>
	
	<!-- 평점기준 정렬 -->
	<select id="select_list_by_mv_ra" resultType="MovieVO">		
		select * from
		${PJ_MOVIE}
		order by ${mvRatingAvg}
	</select>
	
	
	<select id="select_one_by_mv_id" resultType="MovieVO">
		select * from
		${PJ_MOVIE}
		where ${mvId} = #{mvId}
	</select>		
	
	<select id="select_list_by_period" resultType="MovieVO">
		select * from
		${PJ_MOVIE}
		where ${mvDateStarted} <![CDATA[<=]]> #{inputDateStarted} and #{inputDateEnded} <![CDATA[<=]]> ${mvDateEnded}
	</select>
	
	<select id="select_list_by_date" resultType="MovieVO">
		select * from
		${PJ_MOVIE}
		where #{inputDate} BETWEEN ${mvDateStarted} and ${mvDateEnded}
	</select>
	
	<!-- update all -->
	<update id="update">
		update ${PJ_MOVIE}
		set ${mvTitle} = #{mvTitle}, ${mvImage} = #{mvImage},
		${mvDateStarted} = #{mvDateStarted}, ${mvDateEnded} = #{mvDateEnded},
		${mvRuningTime} = #{mvRuningTime}, ${mvGenre} = #{mvGenre}, ${mvInfo} = #{mvInfo}
		where ${mvId} = #{mvId}
	</update>
	
	<!-- mvRatingAvg // TODO : score , amount : 취소되면 -1, 결제하면 +1-->
	<update id="update_mv_ratings_by_mv_id">
		update ${PJ_MOVIE}
		set ${mvRatingTotal} = ${mvRatingTotal} + #{score},
		${mvRatingCnt} = ${mvRatingCnt} + #{amount},
		${mvRatingAvg} = ${mvRatingTotal} / ${mvRatingCnt}
		where ${mvId} = #{mvId}
	</update>
	
	<!-- ticketSales // TODO : amount : 취소되면 -1, 결제하면 +1 -->
	<update id="update_mv_ticketsales_by_mv_id">
		update ${PJ_MOVIE}
		set ${mvTicketSales} = ${mvTicketSales} + #{amount}
		where ${mvId} = #{mvId}
	</update>
		
	<delete id="delete"> 
		delete from ${PJ_MOVIE}
		where ${mvId} = #{mvId}
	</delete>

</mapper>