<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.spring.project.reviewMapper">

	<insert id="insert">
		insert into ${PJ_REVIEW} 
		(${mvId}, ${mmbId}, ${rvContent}, ${rvRating})
		values (#{mvId}, #{mmbId}, #{rvContent}, #{rvRating})
	</insert>
	
	<!-- select list mvId로 가져오기, movie/detail에서 사용--> 
	<select id="select_list_by_mv_id" resultType="ReviewVO">
		select * from ${PJ_REVIEW}
		where ${mvId} = #{mvId}
		order by ${rvDateCreated} desc
	</select>
	
	<!-- select list mmbId로 가져오기, mypage에서 사용 --> 
	<select id="select_list_by_mmb_id" resultType="ReviewVO">
		select rv.*, mv.${mvTitle}, mv.${mvImage}
		from ${PJ_REVIEW} rv JOIN ${PJ_MOVIE} mv ON rv.${mvId} = mv.${mvId}
		where ${mmbId} = #{mmbId}
		order by ${rvDateCreated} desc
	</select>	
		
	<!-- selectOne rvId로 가져오기, 수정/삭제 시 사용 --> 
	<select id="select_one_by_rv_id" resultType="ReviewVO">
		select * from
		${PJ_REVIEW}
		where ${rvId} = #{rvId}
	</select>
	
	<update id="update">
		update ${PJ_REVIEW}
		set ${rvContent} = #{rvContent}, ${rvRating} = #{rvRating}
		where ${rvId} = #{rvId}
	</update>
		
	<delete id="delete"> 
		delete from ${PJ_REVIEW}
		where ${rvId} = #{rvId}
	</delete>
	
	<!-- 한 계정 당 한 번 리뷰 등록 체크 -->
	<select id="registered_check" resultType="int">
		select ${rvId} from
		${PJ_REVIEW}
		where ${mmbId} = #{mmbId} and ${mvId} = #{mvId}
	</select>

</mapper>