@charset "UTF-8";

.imageSpace {
	width: 200px;
	height: 300px;
}

.imageDrop {
	width: 200px;
	height: 300px;
	border: 1px solid gray;
}

table{
	border: solid gray 2px;
	border-collapse: collapse;
	padding: 0px;
	margin: 10px;
}

td, th {
	border: solid gray 2px;
	border-collapse: collapse;
	text-align: center;
	padding: 6px;
}

th {
	background-color: lightgray;
}